

<!DOCTYPE html>
<html>
  <head>
    <title>HOME PAGE</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
    <body>
        <center><h1>MEDI HEART</h1></center>
        <div class="parent-div">
          <a href="{% url 'adminlogin'%}">
          <img   src="{% static 'images/adminicon.png'%}"height="200"
          width="250"/></a>
          <a href="{% url 'userlogin'%}">
          <img src="{% static 'images/usericon.jpg'%}"height="200"
            width="250"/></a> 
        </div>
         
      </div>
    </body>
  
</html>
