
<html>
  <head>
    <title>USER LOGIN</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="register-form">
          <input type="text" placeholder="user name" required/>
          <input type="text" placeholder="Gender"required />
          <input type="text" placeholder="Age" required/>
          <input type="text" placeholder="email id" required/>
          <input type="text" placeholder="password" required/>
          <input type="text" placeholder="repeat password" required/>
          <button type="submit"><a herf="{%url 'user_login'%}">Create</a></button>
          <p class="message">Already Registered? <a href="{%url 'user_navbar'%}">Login</a></p>
        </form>

        <form class="login-form">
          <input type="text" placeholder="user name" required/>
          <input type="password" placeholder="password" required/>
          <button type="submit"><a href="{%url 'user_navbar'%}">login</a></button>
          <p class="message">Not Registered? <a href="#">Register</a></p>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
      $(".message a").click(function () {
        $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
      });
    </script>
  </body>
</html>
