<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>USER VIEW DOCTOR</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/user_view_doc.css' %}">
    <link rel="stylesheet" href="{%static 'css/mytable.css' %}">
  </head>


<body>
    <div class="wrap">
      <nav>
        <ul>
          <li><a class="active" href="{%url 'user_navbar'%}"> Home</a></li>
          <li><a href="{%url 'user_input'%}"> heart analysis</a></li>
          <li><a href="{%url 'user_view_doc'%}"> View Doctor</a></li>
     
          <li><a href="{%url 'home'%}"> Log Out</a></li>
        </ul>
      </nav>
      <table class="mytable">
         <thead> 
          <tr>
            <th>DOCTOR NAME</th>
            <th>HOSPITAL ADDRESS</th>
            <th>MOBILE NO.</th>
            <th>EMAIL ID</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>SPECIALITY OF THE DOCTOR</th>
            
          </tr>
         </thead> 
         <tbody> 
          {% for data in userViewDoc %}
            <tr>
              <td>{{data.name}}</td>
              <td>{{data.address}}</td>
              <td>{{data.phoneNo}}</td>
              <td>{{data.email}}</td>
              <td>{{data.age}}</td>
              <td>{{data.get_sex_display}}</td>
              <td>{{data.speciality}}</td>
             </tr>
          {% endfor %}
         </tbody> 
      </table>
    </div>
    </body>
</html>
 