body {
  background-image: url("/static/images/bgpic.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
