* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/static/images/bgpic.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
  margin-top: 150px;
}
.home {
  width: 800px;
  background-color: rgb(0, 0, 0, 0.6);
  margin: auto;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}
.main {
  background-color: rgb(0, 0, 0, 0.5);
  width: 800px;
  margin: auto;
}
form {
  padding: 10px;
}
#name {
  width: 100%;
  height: 100px;
}
.name {
  margin-left: 25px;
  margin-top: 30px;
  width: 125px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.fname {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 300px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.address {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 400px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.mobile {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 300px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.email {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 300px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.age {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 300px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.speciality {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 300px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

#person {
  margin-left: 25px;
  color: white;
  font-size: 18px;
}
.radio {
  display: inline-block;
  padding-right: 70px;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 15px;
  color: white;
}
.radio input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

button {
  background-color: #3baf9f;
  display: block;
  margin: 20px 0px 0px 20px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}
button:hover {
  background-color: #5390f5;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li a {
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
nav ul li a:hover {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}
nav ul li a.active {
  background: #e2472f;
  color: #fff;
  border-radius: 6px;
}

section {
  width: 100%;
  height: 100vh;
  background: url("/static/images/bgpic.jpeg");
  background-size: cover;
  background-position: center;
}
